{% extends 'test_app/base.html' %}
{% load static %}


{% block title %}
تماس با ما
{% endblock title %}


{% block body %}


    <!-- Header Start -->
    <div class="container-fluid bg-primary py-5 mb-5 page-header">
        <div class="container py-5">
            <div class="row justify-content-center">
                <div class="col-lg-10 text-center">
                    <h1 class="display-3 text-white animated slideInDown">راه های ارتباطی    </h1>
                    <nav aria-label="breadcrumb">
                        <!-- <ol class="breadcrumb justify-content-center">
                            <li class="breadcrumb-item"><a class="text-white" href="#">Home</a></li>
                            <li class="breadcrumb-item"><a class="text-white" href="#">Pages</a></li>
                            <li class="breadcrumb-item text-white active" aria-current="page">Contact</li>
                        </ol> -->
                    </nav>
                </div>
            </div>
        </div>
    </div>
    <!-- Header End -->


    <!-- Contact Start -->

    <div class="container-xxl py-5">
        <div class="container">
            <div class="text-center wow fadeInUp" data-wow-delay="0.1s">
                <h6 class="section-title bg-white text-center text-primary px-3">تماس با ما</h6>
                <h1 class="mb-5"> نیاز خود را به ما بگویید</h1>
            </div>
            <div class="row g-4">
                <div class="col-lg-6 col-md-6 wow fadeInUp" data-wow-delay="0.1s">
                    <h5> با ما در تماس باشید.</h5>
                    <p class="mb-4"> 

با ما در تماس باشید
آیا سوالی دارید یا نیاز به راهنمایی بیشتر دارید؟ تیم پشتیبانی ما 
آماده‌ی پاسخگویی به شماست. از طریق راه‌های ارتباطی زیر با ما
 در تماس باشید و در سریع‌ترین زمان ممکن پاسخ خود را دریافت کنید

               </p>
                    <div class="d-flex align-items-center mb-3">
                        <div class="d-flex align-items-center justify-content-center flex-shrink-0 bg-primary" style="width: 50px; height: 50px;">
                            <i class="fa fa-map-marker-alt text-white"></i>
                        </div>
                        <div class="ms-3">
                            <h5 class="text-primary">دفتر</h5>
                            <p class="mb-0">123 خیابان.. فرعی ...</p>
                        </div>
                    </div>
                    <div class="d-flex align-items-center mb-3">
                        <div class="d-flex align-items-center justify-content-center flex-shrink-0 bg-primary" style="width: 50px; height: 50px;">
                            <i class="fa fa-phone-alt text-white"></i>
                        </div>
                        <div class="ms-3">
                            <h5 class="text-primary">موبایل</h5>
                            <p class="mb-0">+012 345 67890</p>
                        </div>
                    </div>
                    <div class="d-flex align-items-center">
                        <div class="d-flex align-items-center justify-content-center flex-shrink-0 bg-primary" style="width: 50px; height: 50px;">
                            <i class="fa fa-envelope-open text-white"></i>
                        </div>
                        <div class="ms-3">
                            <h5 class="text-primary">ایمیل</h5>
                            <p class="mb-0">info@example.com</p>
                        </div>
                    </div>
                </div>

                <div class="col-lg-6 col-md-12 wow fadeInUp" data-wow-delay="0.5s">
                    <form>
                        <div class="row g-3">
                            <div class="col-md-6">
                                <div class="form-floating">
                                    <!-- <input type="text" class="form-control" id="name" placeholder="Your Name"> -->
                                    {{form.name}}                                    
                                    <label for="name">  نام</label>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-floating">
                                    {{form.email}}
                                        <!-- <input type="email" class="form-control" id="email" placeholder="Your Email"> -->
                                    <label for="email">  ایمیل</label>
                                </div>
                            </div>
                            <div class="col-12">
                                <div class="form-floating">
                                    {{form.subject}}
                                    <!-- <input type="text" class="form-control" id="subject" placeholder="Subject"> -->
                                    <label for="subject">موضوع</label>
                                </div>
                            </div>
                            <div class="col-12">
                                <div class="form-floating">
                                    {{form.message}}
                                    <!-- <textarea class="form-control" placeholder="Leave a message here" id="message" style="height: 150px"></textarea> -->
                                    <label for="message">پیام</label>
                                </div>
                            </div>
                            <div class="col-12">
                                <button class="btn btn-primary w-100 py-3" type="submit"> ارسال </button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>


    <!-- Contact End -->

{% endblock body %}