{% extends 'test_app/base.html' %}
{% load static %}


{% block title %}
index
{% endblock title %}


{% block body %}

    <!-- Header Start -->
    <div class="container-fluid bg-primary py-5 mb-5 page-header">
        <div class="container py-5">
            <div class="row justify-content-center">
                <div class="col-lg-10 text-center">
                    <h1 class="display-3 text-white animated slideInDown">Courses</h1>
                    <nav aria-label="breadcrumb">
                        <ol class="breadcrumb justify-content-center">
                            <li class="breadcrumb-item"><a class="text-white" href="#">Home</a></li>
                            <li class="breadcrumb-item"><a class="text-white" href="#">Pages</a></li>
                            <li class="breadcrumb-item text-white active" aria-current="page">Courses</li>
                        </ol>
                    </nav>
                </div>
            </div>
        </div>
    </div>
    <!-- Header End -->






    <!-- Categories Start -->
    <div class="container-xxl py-5 category">
        <div class="container">
            <div class="text-center wow fadeInUp" data-wow-delay="0.1s">
                <h6 class="section-title bg-white text-center text-primary px-3">دسته بندی</h6>
                <h1 class="mb-5"> دسته بندی دوره ها</h1>
            </div>
            <div class="row g-3">
     

<!-- item for query       -->
              
            {%  for item in categories   %}
              <div class="col-lg-5 col-md-6 wow zoomIn" data-wow-delay="0.7s" style="min-height: 350px;">
                    <a class="position-relative d-block h-100 overflow-hidden" href="">
                        <img class="img-fluid position-absolute w-100 h-100" src="{{item.picture.url}}" alt="" style="object-fit: cover;">
                        <div class="bg-white text-center position-absolute bottom-0 end-0 py-2 px-3" style="margin:  1px;">
                            <h5 class="m-0">{{item.title}}</h5>
                            <small class="text-primary">{{item.number}}</small><br>
                            <small class="text-primary"> دوره</small>
                        </div>
                    </a>
                </div>
                {%endfor %}

<!-- end item to query    -->

            </div>
        </div>
    </div>
    <!-- Categories end -->








    <!-- Courses Start -->
    <div class="container-xxl py-5">
        <div class="container">
            <div class="text-center wow fadeInUp" data-wow-delay="0.1s">
                <h6 class="section-title bg-white text-center text-primary px-3">دوره ها</h6>
                <h1 class="mb-5">  دوره های محبوب آکادمی</h1>
            </div>
            <div class="row g-4 justify-content-center">

<!-- item to get database  -->

{% for item in courses  %}


                <div class="col-lg-4 col-md-6 wow fadeInUp" data-wow-delay="0.1s">
                    <div class="course-item bg-light">
                        <div class="position-relative overflow-hidden">
                            <img class="img-fluid" src="{{item.picture.url}}" alt="">
                            <div class="w-100 d-flex justify-content-center position-absolute bottom-0 start-0 mb-4">
                                <!-- <a href="#" class="flex-shrink-0 btn btn-sm btn-primary px-3 border-end" style="border-radius: 30px 0 0 30px;">Read More</a>
                                <a href="#" class="flex-shrink-0 btn btn-sm btn-primary px-3" style="border-radius: 0 30px 30px 0;">Join Now</a> -->
                            </div>
                        </div>
                        <div class="text-center p-4 pb-0">
                            <h6 class="mb-0">{{item.price}}</h3> 
<small>ریال</small>
                            <div class="mb-3">
                            {%  for star in  "x"|ljust:item.stars  %}
                                <small class="fa fa-star text-primary"></small>
                               
                            {%  endfor  %}
                                <!-- <small>(123)</small> -->
                            </div>
                            <h5 class="mb-4">{{item.title}}</h5>
                        </div>
                        <div class="d-flex border-top">
                            <small class="flex-fill text-center border-end py-2"><i class="fa fa-user-tie text-primary me-2"></i>{{item.lecturer}}</small>
                            <small class="flex-fill text-center border-end py-2"><i class="fa fa-clock text-primary me-2"></i>{{item.duration}} ساعت</small>
                            <small class="flex-fill text-center py-2"><i class="fa fa-user text-primary me-2"></i>{{item.students_number}} دانشجو</small>
                        </div>
                    </div>
                </div>
{% endfor  %}
<!-- endof item  -->

            </div>
        </div>
    </div>
    <!-- Courses End -->






    <!-- Testimonial Start -->
    <div class="container-xxl py-5 wow fadeInUp" data-wow-delay="0.1s">
        <div class="container">
            <div class="text-center">
                <h6 class="section-title bg-white text-center text-primary px-3">نظرات</h6>
                <h1 class="mb-5"> آنچه کاربران گفته اند</h1>
            </div>
            <div class="owl-carousel testimonial-carousel position-relative">



<!-- item to query  -->
        {%  for item in messages  %}

                <div class="testimonial-item text-center">
                    <img class="border rounded-circle p-2 mx-auto mb-3" src="{{item.picture.url}}" style="width: 80px; height: 80px;">
                    <h5 class="mb-0"> item.name</h5>
                    <p>{{item.level}}</p>
                    <div class="testimonial-text bg-light text-center p-4">
                        <p class="mb-0">{{item.message}}</p>
                    </div>
                </div>


        {%endfor%}
<!-- end of item -->


            </div>
        </div>
    </div>
    <!-- Testimonial End -->


{% endblock %}